@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: x-large;
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  width: 40rem;
  height: 45rem;
}

.image-detail {
  width: 100%;
  height: 45rem;
}

.form-create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#stroke-current {
  color: white;
}

.seperate {
  display: flex;
  justify-content: space-between;
}

.parent {
  padding-left: 38rem;
  padding-right: 38rem;
}

.form-parent {
  /* margin: 0 auto; */
  width: 98vw;
}

.form-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-nya {
  width: 70rem;
}

.form-nya .seperate {
  display: flex;
  justify-content: space-between;
}

.button-update-create button {
  padding: 0 10rem;
}

.button-cancel .cancel{
  padding: 0 10rem;
}

.button-detail .detail-update {
  padding: 0 4rem;
}

.button-detail button {
  padding: 0 4rem;
}
